---
import "./global.css";
import Header from "@components/Header.astro";

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-full bg-[#E8E6DD]">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <base href={`${import.meta.env.BASE_URL}/`} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="./fonts/SpaceGrotesk-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title} &middot; COSMOS</title>
  </head>
  <body class="h-full">
    <div class="mx-auto max-w-[80ch]">
      <Header />
    </div>
    <div class="mb-20 border-b border-t border-black/20">
      <div
        class="mx-auto box-content max-w-[80ch] border-e border-s border-black/20 p-20"
      >
        <h2 class="text-center text-4xl font-bold">{title}</h2>
        {
          subtitle && (
            <h3 class="text-center text-lg text-black/50">{subtitle}</h3>
          )
        }
        <main
          class="prose-h1:mt-12 prose-h1:text-2xl prose-h2:text-xl mt-20 px-8"
        >
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
